@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

@import "tailwindcss";
@plugin "../config/hero.ts";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

.material-symbols-outlined {
    font-size: 20px;
}

/* .icon-md {
   font-size: 20px;
 } */